<!DOCTYPE html>
<html>
<head>
    <title>频道</title>
    <%= render 'layouts/header' %>
</head>
<body>

<nav class="header navbar navbar-default">
    <div class="container">
        <%= render 'layouts/navlogo', form: true, action: channels_path,
                   placeholder: '搜索频道' %>
        <%= render 'layouts/navmenu', wrapper: true %>
    </div>
</nav>


<div class="body container channels">
    <% @channels.each do |c|
        channel = Channel.new(id: c['id'], title: c['title'], ctype: c['ctype'],
            description: c['description']) %>
        <div class="post">
            <%= render channel %>
        </div>
    <% end %>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
