<!DOCTYPE html>
<html>
<head>
    <title>频道</title>
    <%= render 'layouts/header' %>
    <%= stylesheet_link_tag  'channels' %>
</head>
<body>

<nav class="header navbar navbar-default">
    <div class="container">
        <%= render 'layouts/navlogo', form: true, action: channels_path,
                   placeholder: '搜索频道' %>
        <%= render 'layouts/navmenu', wrapper: true %>
    </div>
</nav>


<div class="body container channels">
    <% @channels.each do |c|
        channel = Channel.new(id: c['id'], title: c['title'], ctype: c['ctype'],
            description: c['description']) %>
        <div class="post block">
            <h4>
                <%= link_to channel.title, contents_path(channel.id, channel.ctype), class: 'title' %>
            </h4>
            <small>&nbsp;</small>
            <div class="entry">
                <div class="c_b_p_desc"><%= trunc_desc(channel.description) %></div>
            </div>
        </div>
    <% end %>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
