<!DOCTYPE html>
<html>
<head>
    <%= render 'layouts/header', title: '频道' %>
    <%= stylesheet_link_tag  'channels' %>
</head>
<body>

<%= render 'layouts/navbar' do %>
    <% if signed_in? %>
        <div class="dropdown table-card-cell rcard">
            <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                个人
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><%= link_to '文章', articles_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to '信息', current_user %></li>
                <li><%= link_to '注销', signout_path, method: 'delete'  %></li>
            </ul>
        </div>
        <div class="dropdown table-card-cell rcard">
            <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                创建
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><%= link_to '频道', new_channel_path %></li>
                <li><a href="<%= new_article_path(return_to: root_path) %>">文章</a></li>
            </ul>
        </div>
    <% else %>
        <a href="<%=signin_path%>" class="table-card-cell rcard">
            登录
        </a>
    <% end %>
<% end %>

<div class="body flex-container-21 channels">
    <div class="flex-left">
        <div class="flex-body">
            <% @channels.each do |c|
                channel = Channel.new(id: c['id'], title: c['title'], ctype: c['ctype'],
                                      description: c['description'], visible: c['visible']) %>
                <div class="post box">
                    <div class="box-title">
                        <a href="<%=channel_path(channel.id)%>" class="title">
                            <h1 class="mcolor">
                                <%=channel.title%>
                            </h1>
                        </a>
                    </div>
                    <div class="box-body">
                        <div class="c_b_p_desc"><%= trunc_desc(channel.description) %></div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    <div class="flex-right">
        <div id="fixed" class="flex-body">
            <div class="box tags">
                <div class="box-title">
                    标签推荐
                </div>
                <div class="box-body tagcloud">
                    <% if !@tags.nil? && @tags.length > 0
                           for i in 0..@tags.length - 1
                            break if i >= 20 %>
                            <%= link_to @tags[i], channels_path(keyword: @tags[i]) %>
                        <% end else %>
                        <p>暂无内容</p>
                    <% end %>
                </div>
            </div>
            <div class="box">
                <div class="box-body">
                    <%=link_to '关于', about_path %>
                    <%=link_to '帮助', help_path %>
                </div>
            </div>
        </div>
    </div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
