<!DOCTYPE html>
<html>
<head>
    <title>频道</title>
    <%= render 'layouts/header' %>
    <%= stylesheet_link_tag  'channels' %>
</head>
<body>

<nav class="header navbar navbar-default">
    <div class="container">
        <%= render 'layouts/navlogo', form: false %>
        <form method="get" action="<%= channels_path %>" class="navbar-form navbar-left search">
            <input type="hidden" name="visible" value="<%= @visible %>" />
            <div class="form-group">
                <input name="keyword" type="text" value="<%= params[:keyword]%>"
                       class="form-control keyword" maxlength="30"
                       placeholder="搜索频道">
            </div>
        </form>
        <%= render 'layouts/navmenu', wrapper: true %>
    </div>
</nav>


<div class="body container channels">
    <div class="row">
        <div class="col-md-9 left">
            <% @channels.each do |c|
                channel = Channel.new(id: c['id'], title: c['title'], ctype: c['ctype'],
                                      description: c['description'], visible: c['visible']) %>
                <div class="post block">
                    <h4>
                        <%= link_to channel.title, contents_path(channel.id, channel.ctype), class: 'title' %>
                        <% if channel.visible == 1 %>
                            <img class="visible" src="/assets/icons/locker.gif" />
                        <% end %>
                    </h4>
                    <div class="entry">
                        <div class="c_b_p_desc"><%= trunc_desc(channel.description) %></div>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="col-md-3 right">
            <div class="block tags">
                <div class="block-title">
                    相关标签
                </div>
                <div class="tagcloud">
                    <% if !@tags.nil? && @tags.length > 0
                           for i in 0..@tags.length - 1
                            break if i >= 20 %>
                            <%= link_to @tags[i], channels_path(keyword: @tags[i]) %>
                        <% end else %>
                        <p>暂无内容</p>
                    <% end %>
                </div>
            </div>
            <div class="block">
                <div class="block-body">
                    <%=link_to '关于', about_path %>
                    <%=link_to '帮助', help_path %>
                </div>
            </div>
        </div>
    </div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
