<!DOCTYPE html>
<html>
<head>
    <title>频道</title>
    <%= render 'layouts/header' %>
</head>
<body>
<%= render 'layouts/navbar' %>
<div class="container channels">
    <% for c in @channels%>
            <div class="post post-list-item">
                <h2>
                    <a class="PostTitle" href="http://www.cnblogs.com/JeffreyZhao/archive/2011/05/16/jscex-write-sexy-javascript-slide.html"><%=c.title%></a>
                </h2>
                <small>&nbsp;</small>
                <div class="entry">
                    <div class="c_b_p_desc"><%= c.description %></div>
                </div>
            </div>
        <%end%>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
