<!DOCTYPE html>
<html>
<head>
    <title>创建频道-宇哲</title>
    <%= render 'layouts/header' %>
</head>
<body>

<nav class="header navbar navbar-default">
    <div class="container">
        <%= render 'layouts/navlogo', form: true, action: channels_path,
                   placeholder: '搜索频道' %>
        <%= render 'layouts/navmenu', wrapper: true %>
    </div>
</nav>

<div class="body container channels">
    <div class="post post-list-item">
        <div class="entry">
            <%= render :partial => 'errors', :object => @channel.errors %>
            <%= form_for @channel, url: request.path.sub('/new', '') do |f| %>
                <div class="form-group">
                    <%= f.text_field :title, placeholder: '标题', class: 'form-control' %>
                </div>
                <div class="form-group">
                    <%= f.text_area :description, placeholder: '描述', class: 'form-control', rows:10 %>
                </div>
                <div class="form-group">
                    <%= f.text_field :tags, placeholder: '标签', class: 'form-control' %>
                </div>
                <%= f.submit '提交', class: 'btn btn-default' %>
            <% end %>
        </div>
    </div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>