<!DOCTYPE html>
<html>
<head>
    <title><%=@channel.title %></title>
    <%= render 'layouts/header' %>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <%= render 'layouts/navlogo' %>
        <form method="get" action="<%= channels_path %>" class="navbar-form navbar-left search">
            <div class="form-group">
                <input name="keyword" type="text" value="<%= params[:keyword]%>"
                       class="form-control search" maxlength="30"
                       placeholder="搜索频道">
            </div>
        </form>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <%= render 'layouts/navmenu' %>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to '上级', root_path %></li>
                <li><%= link_to '内容', @channel.contents_path %></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container channels">
    <div class="post post-list-item">
        <h2>
            <%= @channel.title %>
        </h2>
        <small>&nbsp;</small>
        <div class="entry">
            <%= @channel.description %>
        </div>
        <ul class="postmetadata">
            <li class="icon_bullet">
                <% (@channel.tags || '').split(',').map do |t| %>
                    <%= link_to t, root_path + '?keyword=' + t.strip %>&nbsp;
                <% end %>&nbsp;
            </li>
        </ul>
    </div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>