<!DOCTYPE html>
<html>
<head>
    <meta name="keywords" content="<%=@channel.tags%>">
    <meta name="description" content="<%=trunc_desc(@channel.description)%>" />
    <%= render 'layouts/header', title: @channel.title %>
    <%= stylesheet_link_tag  'articles' %>
    <%= javascript_include_tag 'articles' %>
</head>
<body>

<%= render 'layouts/navbar' do %>
    <a class="table-card-cell rcard" href="<%= root_path %>">
        返回
    </a>
    <% if signed_in? %>
        <% if current_user?(@channel.user_id) %>
            <div class="dropdown table-card-cell rcard">
                <a href="<%= edit_channel_path(@channel) %>">
                    修改频道
                </a>
            </div>
        <% end %>
    <% end %>
<% end %>

<div class="sub-header">
    <div class="flex-container">
        <div class="flex-content vcard">
            <h1 class="title card mcolor">
                <%= @channel.title %>
            </h1>
            <p class="desc hcard simple">
                <span class="text"><%= @channel.description %></span>
                <span class="on">
            <% if !@channel.description.nil? && @channel.description.length > 70 %>
                <%= link_to '展开', 'javascript:void(0)', onclick: 'showDesc(this)' %>
            <% end %>
        </span>
            </p>
        </div>
    </div>
</div>

<div class="body flex-container-21 clearfix channels">
    <div class="flex-left">
        <div class="flex-body">
            <% if @articles.count > 0
                   @articles.each do |article|%>
                    <div class="item box">
                        <div class="box-title name">
                            <span class="weak"><%=update_time(article['updated_at'].to_time)%></span>
                        </div>
                        <div class="box-body">
                            <a href="<%=article_path(article['id'], return_to: channel_path(@channel))%>">
                                <h2 class="mcolor">
                                    <%= article['title'] %>
                                    <% if article['visible'] == 2 %>
                                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                                    <% end %>
                                </h2>
                            </a>
                            <div class="entry tcard">
                                <div class="c_b_p_desc"><%= trunc_desc(article['content']) %></div>
                            </div>
                        </div>
                    </div>
                <% end else %>
                <div class="box">
                    <div class="box-body">
                        暂无内容
                    </div>
                </div>
            <% end%>
        </div>
    </div>
    <div class="flex-right">
        <div id="fixed" class="flex-body">
            <div class="box tags">
                <div class="box-title">
                    频道标签
                </div>
                <div class="box-body tagcloud">
                    <% if !@tags.nil? && @tags.length > 0
                           @tags.each do |t|  %>
                            <%= link_to t, channels_path(keyword: t), class: 'tag' %>
                        <% end else %>
                        暂无
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render 'layouts/footer' %>
</body>
</html>
