<% provide(:title, @channel.name )
   provide(:info, channels_path)%>

<% content_for :head do %>
    <script type="text/javascript" src="assets/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="assets/channels.js"></script>
<% end %>
<% content_for :navbar do %>
    <li  class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        创建 <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to "频道", new_url("Channel", @channel.id, "Channel") %></li>
        <li><%= link_to "文章", new_url("Channel", @channel.id, "Item") %></li>
        <li><%= link_to "微博", "" %></li>
        <li><%= link_to "标签", new_url("Channel", @channel.id, "Tag") %></li>
      </ul>
    </li>
    <li  class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        标签 <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to "黑夜", "" %></li>
        <li><%= link_to "爱与正义", "" %></li>
        <li><%= link_to "水瓶座", "" %></li>
        <li><%= link_to "星星", "" %></li>
        <li><%= link_to "代表月亮消灭你", "" %></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        内容 <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to "文章", "" %></li>
        <li><%= link_to "微博", "" %></li>
        <li><%= link_to "图片", "" %></li>
        <li><%= link_to "问答", "" %></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        路径 <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to "首页", "" %></li>
        <li><%= link_to "啊啊啊啊", "" %></li>
        <li><%= link_to "对对对", "" %></li>
        <li><%= link_to "啦啦啦啦啦", "" %></li>
        <li><%= link_to "发发发", "" %></li>
        <li><%= link_to "哦哦哦", "" %></li>
      </ul>
    </li>
    <li><%= link_to "编辑", edit_channel_path(@channel) %></li>
<% end %>

<div class="row masonry-container">
  <%= render "contents" %>
</div>
<div class="row">
  <div class=" text-center loading">
    <img src="assets/loading.gif" />
  </div>
</div>
