<!DOCTYPE html>
<html>
<head>
    <title><%=@channel.title %>-频道详情-宇哲</title>
    <%= render 'layouts/header' %>
    <meta name="keywords" content="<%=@channel.tags%>">
    <meta name="description" content="<%=trunc_desc(@channel.description)%>" />
    <meta name="author" content="<%=@channel.user.name%>">
</head>
<body>

<nav class="header navbar navbar-default">
    <div class="container">
        <%= render 'layouts/navlogo', form: true, action: channels_path,
           placeholder: '搜索频道' %>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li ><%=link_to '上级', root_path %></li>
                <li><%= link_to '查看内容', @channel.contents_path %></li>
                <li><%= link_to '修改', edit_channel_path(@channel) %></li>
                <%= render 'layouts/navmenu' %>
            </ul>
        </div>
    </div>
</nav>

<div class="body container channels">
    <div class="block">
        <h2 class="title">
            <%= @channel.title %>
        </h2>
    </div>
    <div class="entry block">
        <%= @channel.description %>
    </div>
    <% if !@channel.tags.blank? %>
        <div class="block">
            <ul class="postmetadata">
                <li class="icon_bullet">
                    <% @channel.tags.split(',').map do |t| %>
                        <%= t.strip %>&nbsp;
                    <% end %>&nbsp;
                </li>
            </ul>
        </div>
    <% end %>
</div>
<%= render 'layouts/footer' %>
</body>
</html>