<!DOCTYPE html>
<html>
<head>
    <title>登陆</title>
    <%= render 'layouts/header' %>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <%= render 'layouts/navlogo', form: false, action: channels_path,
                   placeholder: '搜索频道' %>
        <%= render 'layouts/navmenu', wrapper: true %>
    </div>
</nav>
<div class="container signin">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <%= form_for(:session, url: sessions_path) do |f| %>
            <div class="form-group">
                <%= f.text_field :email, placeholder: '邮箱', class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= f.password_field :password, placeholder: '密码', class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= text_field_tag :_rucaptcha, '', placeholder: '输入下方验证码', class: 'form-control captcha-input' %>
                <%= rucaptcha_image_tag(alt: '验证码', class: 'captcha', title: '换一张',
                                        onclick: "javascript:this.src='/rucaptcha'") %>
            </div>
            <%= f.submit '登录', class: 'btn btn-default login' %>
        <% end %>
    </div>
    <div class="col-md-4"></div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
