<% provide(:title, "Sign in") %>

  <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">
    <%= form_for(:session, url: sessions_path) do |f| %>
    <div class="form-group">
      <%= f.label :email, "邮箱" %>
      <%= f.text_field :email, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password, "密码" %>
      <%= f.password_field :password, class:"form-control" %>
    </div>
    <%= f.submit "登录", class:"btn btn-default" %>
    <%= link_to "注册", signup_path , class:"btn btn-default"%>
    <% end %>
  </div>
