<!DOCTYPE html>
<html>
<head>
    <title><%=@channel.title%></title>
    <%= render 'layouts/header' %>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <%= render 'layouts/navlogo' %>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索">
                </div>
            </form>
            <%= render 'layouts/navmenu' %>
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="#">编辑</a></li>
                <li><a href="#">删除</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container channels">
    <% for c in @contents %>
            <div class="post post-list-item">
                <h2>
                    <%= link_to c.title, c.entity %>
                </h2>
                <small>&nbsp;</small>
                <div class="entry">
                    <div class="c_b_p_desc"><%= c.description %></div>
                </div>
            </div>
        <%end%>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
