<!DOCTYPE html>
<html>
<head>
    <title><%= @article.title %>-文章修改-宇哲</title>
    <%= render 'layouts/header' %>
    <%= stylesheet_link_tag  'articles', media: 'all' %>
    <%= javascript_include_tag 'articles' %>
</head>
<body>

<%= form_for @article, url: request.path.sub('/edit', '') do |f| %>
    <%= f.hidden_field :visible %>

<%= render 'layouts/navbar' do %>
    <a href="<%=article_path(@article.id)%>" class="table-card-cell rcard">
        返回
    </a>
    <a href="javascript:void(0)" class="table-card-cell rcard" onclick="setVisible(0)">
        公开
    </a>
    <a href="javascript:void(0)" class="table-card-cell rcard" onclick="setVisible(2)">
        私有
    </a>
<% end %>

<div class="body flex-container clearfix article">
    <div class="box">
        <div class="box-body">
            <div class="bcard">
                <%= f.text_field :title, placeholder: '标题', class: 'form-control' %>
            </div>
            <div class="bcard">
                <%= f.text_area :content, placeholder: '正文', class: 'content form-control', rows: 20 %>
            </div>
            <div>
                <%= f.text_field :tags, placeholder: '标签', class: 'form-control' %>
            </div>
        </div>
    </div>
</div>
<% end %>
<div id="fixed-spy" style="display:none">
    <ul class="nav nav-tabs" role="tablist">
        <li><a href="#fixed-before">home-before</a></li>
        <li><a href="#fixed">home</a></li>
    </ul>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
