<!DOCTYPE html>
<html>
<head>
    <meta name="keywords" content="<%=@channel.tags%>">
    <meta name="description" content="<%=trunc_desc(@channel.description)%>" />
    <%= render 'layouts/header', title: @channel.title %>
    <%= stylesheet_link_tag  'articles' %>
</head>
<body>

<nav class="header navbar navbar-default">
    <div class="container">
        <%= render 'layouts/navlogo', form: true, placeholder: '搜索文章',
                   action: channel_articles_path(@channel) %>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <% if signed_in? %>
                    <li ><%=link_to '上级', root_path %></li>
                    <li><%= link_to '写文章', new_channel_article_path %></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            频道<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <% favorite_id = @channel.favorite_id(current_user.id)
                               if !favorite_id.nil? && favorite_id > 0 %>
                                <li><%= link_to '取消收藏', channel_follow_path(favorite_id),
                                                method: 'delete' %></li>
                            <% else %>
                                <li><%= link_to '收藏', channel_follows_path(channel_id: @channel.id),
                                                method: 'post' %></li>
                            <% end %>
                            <li role="separator" class="divider"></li>
                            <% if current_user?(@channel.user_id) %>
                                <li><%= link_to '修改', edit_channel_path(@channel) %></li>
                            <% end %>
                        </ul>
                    </li>
                <% end %>
                <%= render 'layouts/navmenu' %>
            </ul>
        </div>
    </div>
</nav>
<div class="channel-title">
    <div class="container">
        <h3 class="title">
            <%= @channel.title %>
        </h3>
    </div>
</div>

<div class="body container articles">
    <div class="row">
        <div class="col-md-9 left">
            <% if @articles.count > 0
               @articles.each do |article|%>
                <div class="item block">
                    <div class="name">
                        <%= link_to article['name'], user_path(article['user_id']), class: 'nickname' %>
                        <span class="time"><%=update_time(article['updated_at'].to_time)%></span>
                    </div>
                    <h4 class="title">
                        <%= link_to article['title'], channel_article_path(@channel, article['id']) %>
                    </h4>
                    <div class="entry">
                        <div class="c_b_p_desc"><%= trunc_desc(article['content']) %></div>
                    </div>
                </div>
            <% end else %>
                <div class="block">
                    暂无内容
                </div>
            <% end%>
        </div>
        <div class="col-md-3 right">
            <div class="block description">
                <div class="block-title">
                    简介
                </div>
                <p>
                    <%= @channel.description %>
                </p>
            </div>
            <div class="block tags">
                <div class="block-title">
                    标签
                </div>
                <div class="tagcloud">
                    <% if !@tags.nil? && @tags.length > 0
                       @tags.each do |t|  %>
                    <%= link_to t, channels_path(keyword: t) %>
                    <% end else %>
                      <p>暂无内容</p>
                    <% end %>
                </div>
            </div>
            <div class="block recomends">
                <div class="block-title">
                    相关
                </div>
                <ul class="contents">
                    <% if !@recomends.nil? and @recomends.count > 0
                           @recomends.each do |r| %>
                            <li>
                                <%= link_to r['title'], channel_articles_path(r['id'])%>
                            </li>
                        <% end else %>
                        <li>暂无内容</li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
