<!DOCTYPE html>
<html>
<head>
    <%= render 'layouts/header', title: '文章' %>
    <%= stylesheet_link_tag  'articles' %>
    <%= javascript_include_tag 'articles' %>
</head>
<body>

<%= render 'layouts/navbar' do %>
    <a class="table-card-cell rcard" href="<%= root_path %>">
        返回
    </a>
<% end %>

<div class="sub-header">
    <div class="flex-container">
    </div>
</div>

<div class="body flex-container-21 clearfix channels">
    <div class="flex-left">
        <div class="flex-body">
            <% if @articles.count > 0
                   @articles.each do |article|%>
                    <div class="item box">
                        <div class="box-title name">
                            <span class="weak"><%=update_time(article['updated_at'].to_time)%></span>
                        </div>
                        <div class="box-body">
                            <a href="<%=article_path(article['id'], return_to: articles_path)%>">
                                <h2 class="mcolor">
                                    <%= article['title'] %>
                                    <% if article['visible'] == 2 %>
                                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                                    <% end %>
                                </h2>
                            </a>
                            <div class="entry tcard">
                                <div class="c_b_p_desc"><%= trunc_desc(article['content']) %></div>
                            </div>
                        </div>
                    </div>
                <% end else %>
                <div class="box">
                    <div class="box-body">
                        暂无内容
                    </div>
                </div>
            <% end%>
        </div>
    </div>
    <div class="flex-right">
        <div id="fixed" class="flex-body">
            <div class="box tags">
                <div class="box-title">
                    标签推荐
                </div>
                <div class="box-body tagcloud">
                    <% if !@tags.nil? && @tags.length > 0
                           for i in 0..@tags.length - 1
                               break if i >= 20 %>
                            <%= link_to @tags[i], articles_path(keyword: @tags[i]), class: 'tag' %>
                        <% end else %>
                        <p>暂无内容</p>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render 'layouts/footer' %>
</body>
</html>
