<!DOCTYPE html>
<html>
<head>
    <title><%=@channel.title%></title>
    <%= render 'layouts/header' %>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <%= render 'layouts/navlogo' %>

        <form method="get" action="<%= channel_articles_path(@channel) %>" class="navbar-form navbar-left search">
            <div class="form-group">
                <input name="keyword" type="text" value="<%= params[:keyword]%>"
                       class="form-control search" maxlength="30"
                       placeholder="搜索文章">
            </div>
        </form>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <%= render 'layouts/navmenu' %>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to '上级', root_path %></li>
                <% if signed_in? %>
                    <li><%= link_to '新增', new_channel_article_path %></li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>
<div class="container channels">
    <% @articles.each do |article| %>
        <div class="post post-list-item">
            <h2>
                <%= link_to article.title, channel_article_path(@channel, article) %>
            </h2>
            <small>&nbsp;</small>
            <div class="entry">
                <div class="c_b_p_desc"><%= trunc_desc(article.content) %></div>
            </div>
            <% if article.tags %>
                <ul class="postmetadata">
                    <li class="icon_comment icon_r">
                        <%= link_to '详情', request.path + '/' + article.id.to_s %>
                        <% if current_user?(article.user) %>
                            <%= link_to '修改', request.path + '/' + article.id.to_s + '/edit' %>
                        <% end %>
                    </li>
                    <li class="icon_bullet">
                        <% article.tags.split(',').map do |t| %>
                            <%= link_to t, request.path + '?keyword=' + t.strip %>&nbsp;
                        <% end %>&nbsp;
                    </li>
                </ul>
            <% end %>
        </div>
    <%end%>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
