<!DOCTYPE html>
<html>
<head>
    <title>写文章</title>
    <%= render 'layouts/header' %>
    <%= javascript_include_tag 'articles' %>
</head>
<body>

<%= render 'layouts/navbar' do %>
<% end %>

<div id="fixed-before" class="sub-header">
</div>

<div class="body flex-container">
    <div class="box">
        <div class="box-body">
            <%= render :partial => 'errors', :object => @article.errors %>
            <%= form_for @article, url: request.path.sub('/new', '') do |f| %>
                <%= f.hidden_field :visible %>
                <div class="form-group">
                    <%= f.text_area :content, placeholder: '正文', class: 'form-control', rows: 20 %>
                </div>
                <div class="form-group">
                    <%= f.text_field :tags, placeholder: '标签', class: 'form-control' %>
                </div>
                <%= f.submit '公开', class: 'btn btn-default', onclick: 'setVisible(0);' %>
                <%= f.submit '私有', class: 'btn btn-default', onclick: 'setVisible(2);' %>
            <% end %>
        </div>
    </div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
