<% provide(:title, '新建条目')
   provide(:info, articles_path) %>

<% content_for :navbar do %> 
<li class="active"><%= link_to "创建", new_article_path %></li>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= render partial: 'shared/errors', object: @item.errors %>
    <%= form_for @item, url: parent_url("create") do |f| %>
    <div class="form-group">
      <%= f.label :title, "标题" %>
      <%= f.text_field :title, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :markup, "标记" %>
      <%= f.select :markup, all_markups, {}, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :content, "正文" %>
      <%= f.text_area :content, class:"form-control", rows:30 %>
    </div>
    <%= f.submit "提交", class:"btn btn-default" %>
    <% end %>
  </div>
</div>
