<!DOCTYPE html>
<html>
<head>
    <%= render 'layouts/header', title: @article.title %>
    <%= stylesheet_link_tag  'articles', media: 'all' %>
    <meta name="keywords" content="<%=@article.tags%>">
    <meta name="description" content="<%=trunc_desc(@article.content)%>" />
    <meta name="author" content="<%=@article.user.name%>">
</head>
<body>

<%= render 'layouts/navbar' do %>
    <% unless retrive_location.blank? %>
        <a href="<%= retrive_location %>" class="table-card-cell rcard">
            返回
        </a>
    <% end %>
    <% if current_user?(@article.user) %>
        <div class="dropdown table-card-cell rcard">
            <a href="<%= request.path + '/edit' %>">
                修改
            </a>
        </div>
    <% end %>
<% end %>

<div id="fixed-before" class="sub-header">
</div>

<div class="body flex-container-21">
    <div class="flex-left">
        <div class="flex-body">
            <div class="box article">
                <div class="box-body">
                    <% if @article.ctype == 'html' %>
                        <%== @article.content.html_safe  %>
                    <% else %>
                        <%= markdown @article.content %>
                    <% end%>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-right">
        <div id="fixed" class="flex-body">
            <% if !@article.copyright.blank? %>
                <div class="box">
                    <div class="box-title">
                        原文链接
                    </div>
                    <div class="box-body">
                        <% if /^https?:\/\//.match(@article.copyright) %>
                            <%= link_to @article.copyright, @article.copyright, target: '_blank' %>
                        <% else %>
                            <%= @article.copyright %>
                        <% end %>
                    </div>
                </div>
            <% end %>
            <div class="box tags">
                <div class="box-title">
                    文章标签
                </div>
                <div class="box-body tagcloud">
                    <% if !@tags.nil? && @tags.length > 0
                           @tags.each do |t| %>
                            <%= link_to t, articles_path(keyword: t), class: 'tag' %>
                        <% end else %>
                        暂无
                    <% end %>
                </div>
            </div>
            <div class="box recomends">
                <div class="box-title">
                    相关文章
                </div>
                <div class="box-body-full">
                    <ul class="lbrcard contents">
                        <% if !@recomends.nil? and @recomends.count > 0
                               @recomends.each do |r| %>
                                <li class="tcard">
                                    <%= link_to r['title'], article_path(r['id']) %>
                                </li>
                            <% end else %>
                            <li class="tcard">暂无</li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>




<%= render 'layouts/footer' %>
<%= render 'layouts/baidu' %>
</body>
</html>
