<% result = markdown @article.content
   toc = result[1] %>

<!DOCTYPE html>
<html>
<head>
    <%= render 'layouts/header', title: @article.title %>
    <%= stylesheet_link_tag  'articles', media: 'all', 'data-turbolinksxb-track' => true %>
    <meta name="keywords" content="<%=@article.tags%>">
    <meta name="description" content="<%=trunc_desc(@article.content)%>" />
    <meta name="author" content="<%=@article.user.name%>">
</head>
<body>

<nav class="header navbar navbar-default">
    <div class="container">
        <%= render 'layouts/navlogo', form: true, placeholder: '搜索文章',
                   action: channel_articles_path(@article.channel_id) %>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li ><%=link_to '上级', request.path.sub(article_path(@article), articles_path) %></li>
                <% if toc.length > 0 %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            目录<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" data-turbolinks="false">
                            <%  l = toc.map { |m| m[0].to_i }.min
                                toc.each  do |m| %>
                                <li><a href="#<%=m[1]%>"><%== '&nbsp;' * 3 * (m[0].to_i - l) %><%=m[2]%></a></li>
                            <% end %>
                        </ul>
                    </li>
                <% end %>

                <% if current_user?(@article.user) %>
                    <li ><%=link_to '修改', request.path + '/edit' %></li>
                <% end %>
                <%= render 'layouts/navmenu' %>
            </ul>
        </div>
    </div>
</nav>
<div class="channel-title">
    <div class="container">
        <h3 class="title">
            <%= @article.title %>
        </h3>
    </div>
</div>

<div class="body container article">
    <div class="row">
        <div class="col-md-9 left">
            <div class="entry block">
                <%= result[0] %>
            </div>
        </div>
        <div class="col-md-3 right">
            <div class="block tags">
                <div class="block-title">
                    文章标签
                </div>
                <div class="tagcloud">
                    <% if !@tags.nil? && @tags.length > 0
                           @tags.each do |t| %>
                            <%= link_to t, channel_articles_path(@article.channel_id, keyword: t) %>
                        <% end else %>
                        <p>暂无内容</p>
                    <% end %>
                </div>
            </div>
            <div class="block recomends">
                <div class="block-title">
                    相关文章
                </div>
                <ul class="contents">
                    <% if !@recomends.nil? and @recomends.count > 0
                           @recomends.each do |r| %>
                            <li>
                                <%= link_to r['title'], channel_article_path(@article.channel_id, r['id']) %>
                            </li>
                        <% end else %>
                        <li>暂无内容</li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
