<!DOCTYPE html>
<html>
<head>
    <title><%=@article.title%>-宇哲</title>
    <link href="/highlight.js/styles/github.css" rel="stylesheet">
    <script src="/highlight.js/highlight.pack.js"></script>
    <%= render 'layouts/header' %>
    <meta name="keywords" content="<%=@article.tags%>">
    <meta name="description" content="<%=trunc_desc(@article.content)%>" />
    <meta name="author" content="<%=@article.user.name%>">
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <%= render 'layouts/navlogo', form: true, placeholder: '搜索文章',
                   action: channel_articles_path(@article.channel_id) %>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <% if current_user?(@article.user) %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            文章<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ><%=link_to '修改', request.path + '/edit' %></li>
                        </ul>
                    </li>
                <% end %>
                <%= render 'layouts/navmenu' %>
            </ul>
        </div>
    </div>
</nav>

<div class="container channels">
        <div class="post post-list-item">
            <h2>
                <%= @article.title %>
            </h2>
            <small>&nbsp;</small>
            <div class="entry">
                <%= raw markup('markdown', @article.content) %>
            </div>
            <ul class="postmetadata">
                <li class="icon_bullet">
                    <% (@article.tags || '').split(',').map do |t| %>
                        <%= link_to t, request.path.sub('/' + @article.id.to_s, '') + '?keyword=' + t.strip %>&nbsp;
                    <% end %>&nbsp;
                </li>
            </ul>
        </div>
</div>
<%= render 'layouts/footer' %>
<script type="text/javascript">
    $(function(){
        hljs.initHighlightingOnLoad();
    })
</script>
</body>
</html>
