<!DOCTYPE html>
<html>
<head>
    <title><%=@article.title%></title>
    <link href="/highlight.js/styles/github.css" rel="stylesheet">
    <script src="/highlight.js/highlight.pack.js"></script>
    <%= render 'layouts/header' %>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <%= render 'layouts/navlogo', search: false %>

        <div class="collapse navbar-collapse">
            <%= render 'layouts/navmenu' %>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to '上级', request.path.sub(article_path(@article), '/articles') %></li>
                <% if current_user?(@article.user) %>
                    <li ><%=link_to '修改', request.path + '/edit' %></li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>

<div class="container channels">
        <div class="post post-list-item">
            <h2>
                <%= @article.title %>
            </h2>
            <small>&nbsp;</small>
            <div class="entry">
                <%= raw markup('markdown', @article.content) %>
            </div>
            <ul class="postmetadata">
                <li class="icon_bullet">
                    <% (@article.tags || '').split(',').map do |t| %>
                        <%= link_to t, request.path.sub('/' + @article.id.to_s, '') + '?keyword=' + t.strip %>&nbsp;
                    <% end %>&nbsp;
                </li>
            </ul>
        </div>
</div>
<%= render 'layouts/footer' %>
<script >hljs.initHighlightingOnLoad();</script>
</body>
</html>
