<!DOCTYPE html>
<html>
<head>
    <%= render 'layouts/header', title: @article.title %>
    <%= stylesheet_link_tag  'articles', media: 'all', 'data-turbolinksxb-track' => true %>
    <meta name="keywords" content="<%=@article.tags%>">
    <meta name="description" content="<%=trunc_desc(@article.content)%>" />
    <meta name="author" content="<%=@article.user.name%>">
</head>
<body>

<nav class="header navbar navbar-default">
    <div class="container">
        <%= render 'layouts/navlogo', form: true, placeholder: '搜索文章',
                   action: channel_articles_path(@article.channel_id) %>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li ><%=link_to '上级', request.path.sub(article_path(@article), articles_path) %></li>
                <% if current_user?(@article.user) %>
                    <li ><%=link_to '修改', request.path + '/edit' %></li>
                <% end %>
                <%= render 'layouts/navmenu' %>
            </ul>
        </div>
    </div>
</nav>

<div class="body container channels">
    <div class="article">
        <div class="block">
            <h3 class="title">
                <%= @article.title %>
            </h3>
        </div>
        <div class="entry block">
            <%= markdown @article.content %>
        </div>
        <% if !@article.tags.blank? %>
            <div class="block">
                <ul class="postmetadata">
                    <li class="icon_bullet">
                        <% @article.tags.split(',').map do |t| %>
                            <%= t.strip %>&nbsp;
                        <% end %>&nbsp;
                    </li>
                </ul>
            </div>
        <% end %>
    </div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
