<!DOCTYPE html>
<html>
<head>
    <title><%=@content.title%></title>
    <%= render 'layouts/header' %>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <%= render 'layouts/navlogo' %>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <%= render 'layouts/navmenu' %>
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="#">编辑</a></li>
                <li><a href="#">删除</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container channels">
        <div class="post post-list-item">
            <h2>
                <%= @content.title %>
            </h2>
            <small>&nbsp;</small>
            <div class="entry">
                <%= @article.text %>
            </div>
        </div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
