<% provide(:title, @article.title ) %>

<% content_for :nav do %>
    <ul class="nav navbar-nav">
        <li><%= link_to '修改', edit_content_entity_url  %></li>
        <li><%= link_to '删除', content_url, method: 'delete' %></li>
        <li><%= link_to '返回', parent_content_entity_url %></li>
    </ul>
<% end %>

<% content_for :head do %>
    <style type="text/css">
      <%=Pygments.css('.highlight')%>
    </style>
<% end %>

<div class="row">
  <div class="col-md-12">
    <p style="font-size: 25px;font-weight: bolder;">
      <%= @article.title %>
    </p>
    <div>
      <%= raw markup('markdown', @article.content) %>
    </div>
  </div>
</div>