<% provide(:title, 'Sign up')
   provide(:info, users_path) %>

  <div class="col-md-12  col-lg-4">
    <%= form_for(@user) do |f| %>
    <%= render :partial => 'shared/errors', :object => @user.errors %>
    <div class="form-group">
      <%= f.label :name, "姓名" %>
      <%= f.text_field :name, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email, "邮箱" %>
      <%= f.text_field :email, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password, "密码" %>
      <%= f.password_field :password, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, "确认密码" %>
      <%= f.password_field :password_confirmation, class:"form-control" %>
    </div>
    <%= f.submit "注册", class:"btn btn-default" %>
    <% end %>
  </div>
