<!DOCTYPE html>
<html>
<head>
    <title><%= @user.name %></title>
    <%= render 'layouts/header' %>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <%= render 'layouts/navlogo', form: true, action: channels_path,
                   placeholder: '搜索频道' %>
        <%= render 'layouts/navmenu', wrapper: true %>
    </div>
</nav>
<div class="container">
    <div class="form-group">
        <%= label_tag '姓名' %>
        <%= @user.name %>
    </div>
    <div class="form-group">
        <%= label_tag '邮箱' %>
        <%= @user.email %>
    </div>
    <div class="form-group">
        <%= label_tag '注册日期' %>
        <%= @user.created_at %>
    </div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
