<% provide(:title, 'New Tag') %>
<h1>New Tag</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@tag) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :contents %>
    <%= f.text_field :contents %>
    <%= f.submit "Create", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

