<!DOCTYPE html>
<html>
<head>
    <title>频道收藏</title>
    <%= render 'layouts/header' %>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <%= render 'layouts/navlogo', form: true, action: channel_follows_path,
                   placeholder: '频道收藏' %>
        <%= render 'layouts/navmenu', wrapper: true %>
    </div>
</nav>

<div class="container channels">
    <% @follows.each do |c|
        channel = Channel.new(id: c['channel_id'], title: c['title'], ctype: c['ctype'],
            description: c['description']) %>
        <div class="post">
            <%= render channel %>
        </div>
    <% end %>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
