<!DOCTYPE html>
<html>
<head>
    <title>收藏</title>
    <%= render 'layouts/header' %>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <%= render 'layouts/navlogo' %>

        <form method="get" action="<%= channels_path %>" class="navbar-form navbar-left search">
            <div class="form-group">
                <input name="keyword" type="text" value="<%= params[:keyword]%>"
                       class="form-control search" maxlength="30"
                       placeholder="搜索收藏">
            </div>
        </form>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <%= render 'layouts/navmenu' %>
        </div>
    </div>
</nav>
<div class="container channels">
    <% @favorites.each do |c| %>
        <div class="post">
            <h2>
                <%= link_to c['title'], contents_path(c['id'], c['ctype']) %>
            </h2>
            <small>&nbsp;</small>
            <div class="entry">
                <div class="c_b_p_desc"><%= c['description'] %></div>
            </div>

            <ul class="postmetadata">
                <li class="icon_comment icon_r">
                    <%= link_to '详情', channel_path(c['id']) %>
                    <% if current_user?(c['user_id']) %>
                        <%= link_to '收藏', favorite_channels_path(channel_id: c['id'],
                         favorite: ~c['favorite']), method: 'post' %>
                        <%= link_to '加', user_channels_path(channel_id: c['id'], plus: 1,
                        back: request.fullpath), method: 'post' %>
                        <%= link_to '减', user_channels_path(channel_id: c['id'], minus: 1,
                        back: request.fullpath), method: 'post' %>
                        <%= link_to '修改', edit_channel_path(c['id']) %>
                    <% end %>
                </li>
                <li class="icon_bullet">
                    <% (c['tags'] || '').split(',').map do |t| %>
                        <%= link_to t, request.path + '?keyword=' + t.strip %>&nbsp;
                    <% end %>&nbsp;
                </li>
            </ul>
        </div>
    <% end %>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
