<% provide(:title, "Edit Item") %>

<div class="col-md-11">  
  <%= render :partial => 'shared/errors', :object => @item.errors %>
  <div class="span6 offset3">
    <%= form_for @item, :html => { :id => "edit_form" } do |f| %>
    <%= f.text_field :content %>
    <% end %>
  </div>
</div>
<div class="col-md-1">
  <ul class="nav nav-stacked" role="tablist">
    <li role="presentation">
      <%= link_to 'Save', '#', :onclick => '$("#edit_form").submit();' %>
    </li>
    <li role="presentation">
      <%= link_to "Show", item_path(@item), data: { confirm: "Changes will be lost!" } %>
    </li>
    <li role="presentation">
      <%= link_to "Delete", @item, method: :delete, data: { confirm: "You sure?" } %>
    </li>
  </ul>
</div>
