<% provide(:title, "Edit Item") %>

<% content_for :navbar do %> 
<li><%= link_to "阅读", item_path(@item) %></li>
<li class="active"><%= link_to "编辑", edit_item_path(@item) %></li>
<li>
  <%= link_to '保存', '#', :onclick => '$("#edit_form").submit();' %>
</li>
<% end %> 

<div class="row">
  <div class="col-md-12">  
    <%= render partial: 'shared/errors', object: @item.errors %>
    <div class="span6 offset3">
      <%= form_for @item, :html => { :id => "edit_form", :class=>"form-horizontal" } do |f| %>
      <%= f.text_area :content, rows: 10 %>
      <div class="form-group">
	<%= f.label :markup, class:"col-sm-2 control-label" %>
	<%= f.text_field :markup, class:"form-control" %>
      </div>
      <div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
	  <button type="submit" class="btn btn-default">Sign in</button>
	  <%= submit_tag "注册", class:"btn btn-default" %>
	</div>
      </div>
      <% end %>
    </div>
  </div>
</div>
