<% provide(:title, "Edit Item") %>

<% content_for :navbar do %> 
<li><%= link_to "阅读", item_path(@item) %></li>
<li class="active"><%= link_to "编辑", edit_item_path(@item) %></li>
<li>
  <%= link_to '保存', '#', :onclick => '$("#edit_form").submit();' %>
</li>
<% end %> 

<div class="row">
  <div class="col-md-12">  
    <%= render partial: 'shared/errors', object: @item.errors %>
    <div class="span6 offset3">
      <%= form_for @item, :html => { :id => "edit_form" } do |f| %>
      <%= f.text_area :content, rows: 10 %>
      <% end %>
    </div>
  </div>
</div>
