<% provide(:title, @item.title) %>

<% content_for :head do %>
<%= stylesheet_link_tag '/highlight.js/styles/default.css', media: 'all', 'data-turbolinksxb-track' => true %>
<%= javascript_include_tag '/highlight.js/highlight.pack', 'data-turbolinks-track' => true %>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>
<% end %>

<% content_for :navbar do %> 
<li class="active"><%= link_to "阅读", item_path(@item) %></li>
<li><%= link_to "编辑", edit_item_path(@item) %></li>
<% end %> 

<div class="row">
  <div class="col-md-12" style='text-align:center'>
    <!--<embed src="/pdf/<%= @item.title %>.pdf" width="100%" height="800" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">-->
    <!--<div id="viewerContainer">
      <div id="viewer" class="pdfViewer"></div>
    </div>
    <%= javascript_include_tag '/pdf.js/simpleviewer', 'data-turbolinks-track' => true %>-->
    <%=@item.markup%>
    <%= raw markup("markdown", @item.content) %>
  </div>
</div>
