<% provide(:title, @item.title )
   provide(:info, "items")%>

<% content_for :head do %>
<style type="text/css">
  <%=Pygments.css('.highlight')%>
</style>
<% end %>

<% content_for :navbar do %>
<li><%= link_to "创建", new_item_path %></li>
<li class="active"><%= link_to "阅读", item_path(@item) %></li>
<li><%= link_to "编辑", edit_item_path(@item) %></li>
<% end %> 

<div class="row">
  <div class="col-md-12">
    <%= raw markup(@item.markup, @item.content) %>
  </div>
</div>
