
<!-- <nav class="navbar navbar-default">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-right">
          <%= link_to "帮助", help_path, class: "navbar-link" %>&nbsp;
          <%= link_to "关于", about_path, class: "navbar-link" %>&nbsp;
          <%= link_to "联系", contact_path, class: "navbar-link" %>&nbsp;
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <%= link_to "浙ICP备13004995号-6", "http://www.miitbeian.gov.cn", class: "navbar-link" %></div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <%= image_tag 'zgwa.png', :size => "15x15" %> 
          <%= link_to "浙公网安备 33010502003139号", "http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010502003139", class: "navbar-link" %>

        </div>
      </div>
    </div>
  </nav>-->
