<% info = yield(:info)
   search_act = info + "/" %>

<script type="text/javascript">
  function search_submit(){
  document.location.href= search_form.action + search_form.keyword.value;
  return false;
  }
</script>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">首页</a>
    </div>
    <div class="collapse navbar-collapse" id="main-navbar-collapse">
    <%= form_tag(search_act, method: "get", id: "search_form", class: "navbar-form navbar-left", role: "search", onsubmit: raw("return search_submit();")) do %>
    <div class="form-group">
      <%= text_field_tag(:keyword, @keyword, class: "form-control", placeholder: "搜索" + info_name(info)) %>
    </div>
    <% end %>
    <ul class="nav navbar-nav">
      <%= yield :navbar %>  
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if signed_in? %>
      <li id="fat-menu" class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	  账号 <span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu">
	  <li><%= link_to "信息", current_user %></li>
	  <li><%= link_to "设置", edit_user_path(current_user) %></li>
	  <li class="divider"></li>
	  <li><%= link_to "注销", signout_path, method: "delete" %></li>
	</ul>
      </li>
      <% else %>
      <li><%= link_to "登录", signin_path %></li>
      <% end %>
    </ul>
    </div>
  </div>
</nav>
