<% isWrapper = wrapper rescue nil %>

<% if (isWrapper) %>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
<% end %>

<% if signed_in? %>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">
            频道<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><%= link_to '创建', new_channel_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to '私有频道', channels_path(visible: 1) %></li>
        </ul>
    </li>
    <li><%= link_to '收藏', channel_follows_path %></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">
            个人<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><%= link_to '信息', current_user %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to '注销', signout_path, method: 'delete'  %></li>
        </ul>
    </li>
<% else %>
    <li><%= link_to '注册', signup_path %></li>
    <li><%= link_to '登录', signin_path %></li>
<% end %>

<% if isWrapper %>
    </ul>
</div>
<% end %>