<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinksxb-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <%= yield :head %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="row">
        <div class="navbar-header">
          <%= yield :nav %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "频道", root_url   %></li>
          <li><%= link_to "关注", "#"   %></li>
          <li>
            <% if signed_in? %>
                <%= link_to "信息", current_user  %>
            <% else %>
                <%= link_to "登录", signin_path  %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
